.el-table thead th {
  background-color: #f4f3f3 !important;

  html.dark & {
    background-color: #182538 !important;
  }
}

.el-button--primary {
  --el-button-hover-bg-color: var(--el-color-primary-light-3);
  --el-button-hover-border-color: var(--el-color-primary-light-3);
  --el-button-active-bg-color: var(--el-color-primary-dark-2);
  --el-button-active-border-color: var(--el-color-primary-dark-2);
  --el-button-active-color: var(--el-color-primary-dark-2);
  --el-button-disabled-bg-color: var(--el-color-primary-light-5);
  --el-button-disabled-border-color: var(--el-color-primary-light-5);
  --el-button-disabled-text-color: var(--el-color-primary-light-8);
  --el-button-outline-color: var(--el-color-primary-light-5);
}

.el-button--primary.is-link.is-disabled,
.el-button--primary.is-link.is-disabled:active,
.el-button--primary.is-link.is-disabled:focus,
.el-button--primary.is-link.is-disabled:hover,
.el-button--primary.is-plain.is-disabled,
.el-button--primary.is-plain.is-disabled:active,
.el-button--primary.is-plain.is-disabled:focus,
.el-button--primary.is-plain.is-disabled:hover,
.el-button--primary.is-text.is-disabled,
.el-button--primary.is-text.is-disabled:active,
.el-button--primary.is-text.is-disabled:focus,
.el-button--primary.is-text.is-disabled:hover {
  color: var(--el-color-primary-light-8);
}

.el-form-item__label {
  font-weight: 700 !important;
}
